li {
   margin-bottom: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-top: 10px;
}
li button {
 font-size: 12px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-left: 35px;
 color: #666;
}
#enterItem{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;

}
#div2{
  margin-top: 30px;
  margin-left: 50px;
}
#btn{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}
#delete{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}
h1{
  color:rgb(12, 26, 24);
  /* margin-right: 400px; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', ser;
  /* background-repeat:repeat-x; */
  background-size:cover;
  /* background-clip: padding-box; */

}
ul{

  border: 5px solid rgb(73, 46, 73);
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  margin-right: 50px;
  margin-left: 50px;
}
#div1{
  display: flex;
  flex:0;
  justify-content:space-evenly;
  margin-right: 100px;
  margin-left: 100px;
}